<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello Worlds...</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway|Righteous" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <h1>Hello Worlds...</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/galaxies">Galaxies</a></li>
      <li><a href="/planets">Planets</a></li>
      <li><a href="/moons">Moons</a></li>
    </ul>
  </nav>

  <%= yield %>

  <footer>
    none of the images are mine,
    the code is kinda &copy; Leah Eramo 2018 I guess...
  </footer>

</body>
</html>