*{
    box-sizing: border-box
}
h1,h2{
    font-family: 'Baloo Bhai', cursive;
}
h1{
    font-size: 2.4em;
}
body{
    color: white;
    background-color: purple;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 1.3em;

}
p{
    font-size: 1.8em;
    margin: 4vh 10vw;
}
input, button{
    display:block;
    margin: 5vh auto;
    min-width: 30vw;
    height: 10vh;
    font-size: 1.3em;
}

button{
    outline: none;
    border: none;
    border-top: 3px white solid;
    border-bottom: 3px white solid;
    background: none;
    color:white;
    font-family: 'Baloo Bhai', cursive;
}

button:hover{
    color: greenyellow;
    border-top: 3px greenyellow solid;
    border-bottom: 3px greenyellow solid;
}

.flexible{
    display: flex;
    justify-content: space-evenly;
}
