<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Emergency Compliment!</title>
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Are you feeling a bit too good about yourself?</h1>
    <form action="/insult" method="get">
        <label for="name">Your name (optional)</label>
        <input type="text" name="name">
        <button>TAKE ME DOWN A PEG...</button>
    </form>

</body>
</html>