*{
    box-sizing: border-box;
}
body{
    text-align: center;
    font-family: 'Comfortaa', cursive;
}
h1{
    font-family: 'Bungee Shade', cursive;
    font-size: 5vw;
}
.no-result{
    margin: auto;
}
.query-btn{
    width: 10vw;
    height: 5vh;
    font-size: 1.4vw;
    margin: 4vh auto;
    border-radius: 10px;
    border: 1px solid gray;
    background: whitesmoke
}
.query-input{
    width: 35vw;
    height: 5vh;
    font-size: 1.4vw;
    margin: 4vh auto;
    border-radius: 10px;
    border: 1px solid gray;
}
.search{
    margin:10vh auto;
}
.results{
    display: flex;
    flex-wrap: wrap;
}
.movie-card{
    flex:1;
    cursor: pointer;
    margin: 3vh 3vw;
    padding: 1.5vh 1.5vw;
    border-radius: 10px;
    vertical-align: bottom;
    background-color: whitesmoke;
    border: 1px solid lightgray;
}
.movie-card:hover{
    background-color: lightgray;
}
h2{
    width: 25vw;
    height: 6vh;
    margin: 2vh auto;
    font-size: 1.7vw;
    font-weight: 600;
}
.poster{
    width: 25vw;
    height: 35vw;
    background-size: cover;
    background-position: 50% 50%;
    margin: 0 auto 4vh auto;
    border-radius: 10px;
}
footer{
    margin: 10vh auto;
}