main{
    background-color: whitesmoke;
    padding: 10vh 10vw;
    margin-top: 10vh;
}
.input-area{
    background-color: white;
    margin:  5vh 0;
}

input{
    height: 5vh;
    width: 30vw;
    text-align: center;
    font-size: 2vw;
}