
<div class="search">
    <header>
        <h1>Search t3h moofies</h1>
    </header>
    <form action="/movie" method="get">
        <input type="text"  name="movie_title">
        <button type="submit">SOICHHH!</button>
    </form>
</div>
