*{
    box-sizing: border-box;
}
body{ 
    font-family: 'Raleway', sans-serif;
}
h1, h2, h3{
    font-family: 'Righteous', cursive;
}
h2{
    display: inline;
}
.edit-delete{
    padding-left: 2vw;
}
.featured{
    display:flex;
}
.record{
    flex:1
}
img {
    object-fit: cover;
    width:15vw;
    height:15vw;
}
.info{
    display: flex;
    margin-top: 5vh;
}
.image{
    flex: 1;
    vertical-align: top;
}
.blurb{
    flex: 1;
    vertical-align: top;
}
p{
    margin:0;
}
.show {
    object-fit: cover;
    width:35vw;
    height:35vw;
}
.children ul{
    padding-left: 0;
    display: flex;
    text-align: center;
}
.children li{
    flex: 1;
    list-style: none;
}

