*{
    box-sizing: border-box;
}
body{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-family: 'Lobster', cursive;
    font-size: 4em;
    color: #44a2b5;
}
.search{
    display: block;
    width: 44vw;
    margin: 5vh auto 10vh auto;
}
.search input{
    width: 25vw;
    height: 4vh;
}
.search button{
    width: 10vw;
    height: 4vh;
    margin:0;
}
.gif{
    display: block;
    margin: 5vh auto;
}
.scroll-h{
    margin: 20vh auto 40vh auto;
    font-family: 'Montserrat', sans-serif;
}