*{
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif; 
    font-size: 3vh;
}
header{
    margin-bottom: 10vh;
}
h1{
    margin: 4vh 10vw 5vh 0;
    font-family: 'Pacifico', sans-serif;
    color: hotpink;
}

ul{
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    height: 7vh;
    padding: 0;
}
li{
    flex:1;
    list-style: none;
    line-height: 7vh;
}
a{
    font-size: 3vh;
    color: white;
}
a:visited{
    color: white;
}
h2{
    text-align: center;
}
form{
    text-align: center;
}
input{
    text-align: center;
    display: block;
    margin: 3vh auto;
    height: 7vh;
    font-size: 4.5vh;
    border-radius: 5px 20px 5px;
    border: 1px solid black;
}
button{
    display: block;
    font-family: 'Pacifico', sans-serif;
    margin: 3vh auto;
    height: 7vh;
    font-size: 3vh;
    color:hotpink;
    background-color: white;
    border: 1px solid black;
    padding: 0 2vw;
    border-radius: 5px 20px 5px;
}
marquee{
    margin: 3vh 10vw;
}